.card-1 {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.card-2 {
    width: 80%;
    margin: 0 auto;
}

.card-3 {
    width: 80%;
    margin: 0 auto;
}

.card-4 {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}
